#root{
    height: 100vh;
    max-height: 100vh;
    
}

*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}

.flexContainer{
    display:flex;
}

.flexContainer--row{
    flex-direction: row;
}
.flexContainer--col{
    flex-direction: column;
    align-items: center;
}